@model List<ReadClassroomViewModel>
@{
    ViewData["Title"] = "GetClassrooms";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header d-flex align-items-center">
        <i class="fas fa-table me-1 me-2"></i>
        <h3>Sınıf Listesi</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Sınıf Adı</th>
                    <th>Kapasite</th>
                    <th>Verilen Dersler</th>
                    <th>Öğrenciler</th>
                    <th>Öğretmenler</th>
                    <th><a class="btn btn-success" asp-area="Admin" asp-controller="Classrooms" asp-action="AddClassroom">+</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Capacity</td>

                        <!--Verilen Dersler-->
                        <td>
                            @foreach (var classroomMainCourses in item.ClassroomMainCourses)
                            {
                                <badge class="badge bg-info">@classroomMainCourses.MainCourse.Name</badge>
                            }
                        </td>

                        <!--Öğrenciler-->
                        <td>
                            @foreach (var student in item.Students)
                            {
                                <badge class="badge bg-success">@student.FirstName @student.LastName</badge>
                            }
                        </td>

                        <!--Öğretmenler-->
                        <td>
                            @foreach (var classroomTeachers in item.ClassroomTeachers)
                            {
                                <badge class="badge bg-danger">@classroomTeachers.Teacher.FirstName @classroomTeachers.Teacher.LastName </badge>
                            }
                        </td>

                        <!--Butonlar-->
                        <td class="d-flex">
                            <a class="btn btn-warning" asp-area="Admin" asp-controller="Classrooms" asp-action="GetDetailsClassroom" asp-route-id="@item.Id">Detaylar</a>

                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Classrooms" asp-action="UpdateClassroom" asp-route-id="@item.Id">Güncelle</a>

                            <a class="btn btn-danger" asp-area="Admin" asp-controller="Classrooms" asp-action="DeleteClassroom" asp-route-id="@item.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

