@model WriteClassroomViewModel
@inject IMainCourseReadRepository _mainCourseReadRepository
@inject IStudentReadRepository _studentReadRepository
@inject ITeacherReadRepository _teacherReadRepository
@{
    ViewData["Title"] = "UpdateClassroom";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="row">
    <div class="col-auto">
        <div class="card">
            <form method="post" asp-area="Admin" asp-controller="Classrooms" asp-action="UpdateClassroom" onsubmit="return true">
                <div class="card-header">Sınıf Güncelle</div>
                <div asp-validation-summary="All"></div>
                <div class="card-body">


                    <label for="@Model.Name">Sınıf Adı</label>
                    <input id="@Model.Name" class="form-control" type="text" asp-for="Name" />

                    <label for="@Model.Capacity">Kapasite</label>
                    <input id="@Model.Capacity" class="form-control" type="number" min="0" asp-for="Capacity" />


                    <label class="d-block mb-2">Verilecek Dersler</label>
                    @foreach (var mainCourse in _mainCourseReadRepository.GetAll().ToList())
                    {
                        <input class="btn-check" type="checkbox" id="@mainCourse.Id" name="ClassroomMainCoursesMainCourseIds" value="@mainCourse.Id" checked="@Model.ClassroomMainCoursesMainCourseIds.Contains(mainCourse.Id.ToString())" />
                        <label class="btn btn-outline-primary" for="@mainCourse.Id">@mainCourse.Name</label>
                    }


                    <label class="d-block mb-2">Öğrenciler</label>
                    @foreach (var student in _studentReadRepository.GetAll().ToList())
                    {
                        <input class="btn-check" type="checkbox" id="@student.Id" name="StudentIds" value="@student.Id" checked="@Model.StudentIds.Contains(student.Id.ToString())" />
                        <label class="btn btn-outline-primary" for="@student.Id">@student.FirstName @student.LastName</label>
                    }


                    <label class="d-block mb-2">Öğretmenler</label>
                    @foreach (var teacher in _teacherReadRepository.GetAll().ToList())
                    {
                        <input class="btn-check" type="checkbox" id="@teacher.Id" name="ClassroomTeachersTeacherIds" value="@teacher.Id" checked="@Model.ClassroomTeachersTeacherIds.Contains(teacher.Id.ToString())" />
                        <label class="btn btn-outline-primary" for="@teacher.Id">@teacher.FirstName @teacher.LastName</label>
                    }


                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Güncelle</button>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>
