@model ReadStudentViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header d-flex align-items-center">
        <i class="fas fa-table me-1 me-2"></i>
        <h3>@ViewData["TableTitle"]</h3>
    </div>

    <div class="card-body">
        <table class="table table-hover table-bordered">

            <thead>
                <tr>
                    @foreach (var columnTitle in ViewData["CustomColumnTitles"] as List<string>)
                    {
                        <th>@columnTitle</th>
                    }
                    @foreach (var commonColumnTitle in ViewData["CommonColumnTitles"] as List<string>)
                    {
                        <th>@commonColumnTitle</th>
                    }
                </tr>
            </thead>

            <tbody>
                <tr>
                    @foreach (var customProperty in ViewData["CustomProperties"] as List<string>)
                    {
                        <td>
                            @if (customProperty == "Classroom")
                            {
                                    <badge class="badge bg-info">@Model.Classroom.Name</badge>
                            }

                            else if (customProperty == "Parent")
                            {
                                    <badge class="badge bg-success">@Model.Parent.FirstName @Model.Parent.LastName</badge>
                            }

                            else if (customProperty == "Achievements")
                            {
                                foreach (var achievement in Model.Achievements)
                                {
                                    <badge class="badge bg-success">@achievement.Type</badge>
                                }
                            }

                            else
                            {
                                <span>@Model.GetType().GetProperty(customProperty).GetValue(Model)</span>
                            }
                        </td>
                    }

                    @foreach (var commonProperty in ViewData["CommonProperties"] as List<string>)
                    {
                        <td>@Model.GetType().GetProperty(commonProperty).GetValue(Model)</td>
                    }
                </tr>

            </tbody>
        </table>
    </div>
</div>
