@model ReadStudentViewModel
@{
    ViewData["Title"] = "Öğrenci Detayları";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header d-flex align-items-center">
        <i class="fas fa-table me-1 me-2"></i>
        <h3>Öğrenci Detayları</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Okul No</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Cinsiyet</th>
                    <th>Bitirdiği Okul</th>
                    <th>Not Ortalaması</th>
                    <th>Ön Kayıt Durumu</th>
                    <th>Devam Etme Durumu</th>
                    <th>Sınıf</th>
                    <th>Kullanıcı</th>
                    <th>Veliler</th>
                    <th>Notlar</th>
                    <th>Başarılar</th>
                    <th>Devamsızlıklar</th>
                    <th>Oluşturma Tarihi</th>
                    <th>Oluşturanın Bilgisayar Adı</th>
                    <th>Oluşturanın IP Adresi</th>
                    <th>Güncelleme Tarihi</th>
                    <th>Güncelleyenin Bilgisayar Adı</th>
                    <th>Güncelleyenin IP Adresi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.RegistrationNumber</td>
                    <td>@Model.FirstName</td>
                    <td>@Model.LastName</td>
                    <td>@Model.Gender</td>
                    <td>@Model.GraduatedSchool</td>
                    <td>@Model.GPA</td>
                    <td>@Model.IsPreRegistered</td>
                    <td>@Model.ContinuationStatus</td>
                    <td>@Model.Classroom?.Name</td>
                    <td>@Model.User?.UserName</td>
                    <td>
                        @foreach (var parent in Model.Parents)
                        {
                            <span>@parent.FirstName @parent.LastName</span>

                            <br />
                        }
                    </td>
                    <td>
                        @foreach (var grade in Model.Grades)
                        {
                            <span>@grade.Score</span>

                            <br />
                        }
                    </td>
                    <td>
                        @foreach (var achievement in Model.Achievements)
                        {
                            <span>@achievement.Type</span>

                            <br />
                        }
                    </td>
                    <td>
                        @foreach (var attendance in Model.Attendances)
                        {
                            <span>@attendance.AttendanceDate.ToShortDateString()</span>

                            <br />
                        }
                    </td>
                    <td>@Model.CreatedDate</td>
                    <td>@Model.CreatedComputerName</td>
                    <td>@Model.CreatedIpAddress</td>
                    <td>@Model.UpdatedDate</td>
                    <td>@Model.UpdatedComputerName</td>
                    <td>@Model.UpdatedIpAddress</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
