<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bilge Koleji</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/homePage.css" asp-append-version="true" />

</head>
<body>

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }
    else if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVC_Identity</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>


                    @if (User.Identity!=null && User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    @User.Identity.Name
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li><a asp-area="Admin" asp-action="Get" asp-controller="Students" class="dropdown-item">Yönetim Paneli</a></li>
                                    }
                                    else if(User.IsInRole("Teacher"))
                                    {
                                        <li><a asp-area="Teacher" asp-action="Get" asp-controller="Classrooms" asp-route-userName="@User.Identity.Name" class="dropdown-item">Öğretmen Paneli</a></li>

                                    }
                                    else if (User.IsInRole("Student"))
                                    {
                                        <li><a asp-area="Student" asp-action="GetByUsername" asp-controller="Attendances" asp-route-userName="@User.Identity.Name" class="dropdown-item">Öğrenci Paneli</a></li>

                                    }
                                    else if (User.IsInRole("Parent"))
                                    {
                                        <li><a asp-area="Parent" asp-action="GetByUsername" asp-controller="Students" asp-route-userName="@User.Identity.Name" class="dropdown-item">Veli Paneli</a></li>

                                    }
                                    <li><a asp-area="" asp-controller="Home" asp-action="SignOut" class="dropdown-item">Çıkış Yap</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Login" asp-controller="Home">Giriş Yap</a>
                            </li>
                        </ul>
                    }


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - Bilge Koleji
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
