@model ReadParentViewModel
@{
    ViewData["Title"] = "Veli Detayları";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header d-flex align-items-center">
        <i class="fas fa-table me-1 me-2"></i>
        <h3>Veli Detayları</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Cep Telefonu</th>
                    <th>İş Telefonu</th>
                    <th>Adres</th>
                    <th>İlçe</th>
                    <th>İl</th>
                    <th>Öğrenciler</th>
                    <th>Oluşturma Tarihi</th>
                    <th>Oluşturanın Bilgisayar Adı</th>
                    <th>Oluşturanın IP Adresi</th>
                    <th>Güncelleme Tarihi</th>
                    <th>Güncelleyenin Bilgisayar Adı</th>
                    <th>Güncelleyenin IP Adresi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.FirstName</td>
                    <td>@Model.LastName</td>
                    <td>@Model.MobilePhone</td>
                    <td>@Model.WorkPhone</td>
                    <td>@Model.Address</td>
                    <td>@Model.District</td>
                    <td>@Model.City</td>
                    <td>
                        @foreach (var parentStudent in Model.ParentStudents)
                        {
                            <badge class="badge bg-success">@parentStudent.Student.FirstName @parentStudent.Student.LastName</badge>
                        }
                    </td>
                    <td>@Model.CreatedDate</td>
                    <td>@Model.CreatedComputerName</td>
                    <td>@Model.CreatedIpAddress</td>
                    <td>@Model.UpdatedDate</td>
                    <td>@Model.UpdatedComputerName</td>
                    <td>@Model.UpdatedIpAddress</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
