@model List<ReadTeacherViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header d-flex align-items-center">
        <i class="fas fa-table me-1 me-2"></i>
        <h3>Öğretmenler Tablosu</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>İsim</th>
                    <th>Soyisim</th>
                    <th>Rol</th>
                    <th>Alan</th>
                    <th>Girdiği Sınıflar</th>
                    <th>Ders Programı</a></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Role</td>
                        <td>@item.Department</td>
                        <td>
                            @foreach (var classroomTeachers in item.ClassroomTeachers)
                            {
                                <badge class="badge bg-danger">@classroomTeachers.Classroom.Grade / @classroomTeachers.Classroom.Section</badge>
                            }
                        </td>
                        <td><a>Ders programı</a></td>
                        <td>
                            <button class="btn btn-warning">Detaylar</button>
                            <button class="btn btn-primary">Güncelle</button>
                            <button class="btn btn-danger">Sil</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

