@model WriteTeacherViewModel
@inject IMainCourseReadRepository _mainCourseReadRepository
@inject IClassroomReadRepository _classroomReadRepository
@{
    ViewData["Title"] = "UpdateTeacher";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">Güncelle</div>
    <div class="card-body">
        <form method="post" asp-area="Admin" asp-controller="Teachers" asp-action="Update">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName">İsim</label>
                        <input asp-for="FirstName" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName">Soyisim</label>
                        <input asp-for="LastName" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Ünvan</label>
                        <input asp-for="Title" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-auto">
                            <div class="form-group">

                                <label>Verilen Ders</label>
                                <select class="form-select" asp-for="@Model.MainCourseId">
                                    @{
                                        var selectedValue = Model.MainCourseId;
                                    }
                                    @foreach (var item in _mainCourseReadRepository.GetAllActives().ToList())
                                    {
                                        var isSelected = item.Id == selectedValue;
                                        <option value="@item.Id" selected="@isSelected">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-auto">
                            <label>Ders Verilen Sınıflar</label>
                            <div class="form-group">
                                @foreach (var classroom in _classroomReadRepository.GetAllActives().ToList())
                                {
                                    <input id="@classroom.Id" type="checkbox" name="ClassroomTeachersClassroomIds" class="form-check-input" value="@classroom.Id" checked="@Model.ClassroomTeachers.Select(x=> x.ClassroomId).Contains(classroom.Id)" />
                                    <label for="@classroom.Id">@classroom.Name</label>
                                }
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Güncelle</button>
                </div>
            </div>
        </form>
    </div>
</div>