@model List<ReadSubCourseViewModel>
@{
    ViewData["Title"] = "Ders Alt Kursları";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header d-flex align-items-center">
        <i class="fas fa-table me-1 me-2"></i>
        <h3>Ders Alt Kursları</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Kod</th>
                    <th>Haftalık Ders Saati</th>
                    <th>Pozisyon</th>
                    <th>Ana Ders</th>
                    <th><a class="btn btn-success" asp-area="Admin" asp-controller="SubCourses" asp-action="Add">+</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subCourse in Model)
                {
                    <tr>
                        <td>@subCourse.Code</td>
                        <td>@subCourse.WeeklyHour</td>
                        <td>@subCourse.Position</td>
                        <td>@subCourse.MainCourse.Name</td>

                        <td class="d-flex">
                            <a class="btn btn-warning" asp-area="Admin" asp-controller="SubCourses" asp-action="Details" asp-route-id="@subCourse.Id">Detaylar</a>
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="SubCourses" asp-action="Update" asp-route-id="@subCourse.Id">Güncelle</a>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="SubCourses" asp-action="Delete" asp-route-id="@subCourse.Id">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
